*.swp
*.so
libplot_iq/

INCA_libs/
irun.history
irun.log

webtalk.jou
webtalk.log
webtalk_*.backup.jou
webtalk_*.backup.log

xsim.dir/
xsim.jou
xsim.log
xsim_*.backup.jou
xsim_*.backup.log

xelab.log
xelab.pb

xvlog.log
xvlog.pb
